name: test
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  schedule:
    - cron: '0 0 * * *'
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        emacs_version: [30.1, 30.2]
        check: [load-file, byte-compile]
    steps:
      - uses: purcell/setup-emacs@master
        with:
          version: ${{ matrix.emacs_version }}
      - uses: actions/checkout@v4
      - uses: leotaku/elisp-check@master
        with:
          check: ${{ matrix.check }}
          file: '*.el'
          warnings_as_errors: true
